/* Garet font faces */
@font-face {
  font-family: "Garet";
  src: url("/assets/fonts/garet/Garet-Book.woff2") format("woff2"),
       url("/assets/fonts/garet/Garet-Book.woff") format("woff"),
       url("/assets/fonts/garet/Garet-Book.ttf") format("truetype"),
       url("/assets/fonts/garet/Garet-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Garet";
  src: url("/assets/fonts/garet/Garet-Heavy.woff2") format("woff2"),
       url("/assets/fonts/garet/Garet-Heavy.woff") format("woff"),
       url("/assets/fonts/garet/Garet-Heavy.ttf") format("truetype"),
       url("/assets/fonts/garet/Garet-Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
